@charset "UTF-8";

/**************
 * Scrollbars *
 **************/

scrollbar {
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;

	background-color: gtk("@theme_bg_color");
	border-left: 1px solid;
	border-color: gtkalpha(gtk("@theme_fg_color"), 0.1);
	padding: 5px;

	button {
		min-width: 14px;
		min-height: 14px;
		margin: 0px;
		padding: 0px 0px;
		border: none;
		border-radius: 0px;
		background-image: none;
		background-color: transparent;
		color: transparent;
		box-shadow: none;
		&:hover {
			border: none;
			background-image: none;
			background-color: gtk("@theme_bg_color");
			color: transparent;
		}
		&:active,
		&:active:hover {
			border: none;
			background-image: none;
			background-color: gtk("@theme_bg_color");
			color: transparent;
		}
		&:disabled {
			border: none;
			background-color: gtk("@theme_bg_color");
			background-image: none;
			color: transparent;
		}
	}

	// Overlay Scrollbars
	&.dragging,                                                             // if this isn't set, the scrollbars don't update their size correctly
  &.hovering {
		opacity: 0.991;
	} // probably a gtk bug
	&.overlay-indicator:not(.dragging):not(.hovering) {
		opacity: 0.999;
	} //

	&.overlay-indicator:not(.dragging):not(.hovering) {
		-GtkScrollbar-has-backward-stepper: false;
		-GtkScrollbar-has-forward-stepper: false;
	}

	&.overlay-indicator {
		background: none;
	}

	trough {
		//margin: 0px;
		transition-duration: 0.2s;
		min-width: 8px;
		min-height: 14px;
		border-radius: 8px;
        opacity: 0;
        background-color: transparent;
        border: 1px solid transparent;
	}

	&:hover {
		trough {
			background-color: gtkalpha(gtk(
				"@theme_button_decoration_hover"
            ), 0.3);

            border-color: gtkalpha(gtk(
                    "@theme_button_decoration_hover"
            ), 0.4);
		}
		slider {
			background-color: gtkalpha(gtk(
				"@theme_button_decoration_hover"
			), 0.5);
            border-color: gtk(
				"@theme_button_decoration_hover"
			);
		}
	}

	&.horizontal trough {
		//margin: 0px;
		transition-duration: 0.1s;
		min-width: 14px;
		min-height: 6px;
		border-radius: 8px;
		background-color: transparent;
	}

	&.horizontal:hover {
		&.horizontal trough {
			background-color: $trough_color_backdrop;
			min-height: 6px;
		}
		&.horizontal slider {
			min-height: 6px;
			background-color: gtk(
				"@theme_button_decoration_hover"
			);
		}
	}

	slider {
		//margin: 0px;
		transition-duration: 0.2s;
        min-width: 8px;
		min-height: 30px;
		border-radius: 5px;
		background-clip: padding-box;
		background-color: gtkalpha(gtk("@theme_fg_color"), 0.2);
        margin-left: -1px;
        margin-right: -1px;
        border: 1px solid gtkalpha(gtk(
			"@theme_fg_color"
		),0.3);

		&:hover {
			background-color: gtkalpha(gtk(
				"@theme_button_decoration_hover"
			), 0.5);
            border-color: gtk(
                "@theme_button_decoration_hover"
            );
		}
	}
	&.horizontal slider {
		transition-duration: 0.1s;
		min-width: 30px;
		min-height: 3px;
		border-radius: 8px;
		background-clip: padding-box;
		background-color: gtkalpha(gtk("@theme_fg_color"), 0.5);
		&:hover {
			min-height: 6px;
			background-color: gtk(
				"@theme_button_decoration_hover"
			);
		}
	}
}
